body {
    text-align: center;
    margin: 0px;
    font-family: "Arial";
}

.about {
    background-color: blue;
    color: white;
    padding: 0px;
}

.projects {
    background-color: blue;
    color: white;
    padding: 10px;
}
